<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly id="Sitecore.Support.95580">/bin/Sitecore.Support.95580.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
      <itemWebApiSearch>
        <processor type="Sitecore.Support.ParseSearchText, Sitecore.Support.95580" patch:instead="*[@type='Sitecore.ItemWebApi.Pipelines.Search.ParseSearchText, Sitecore.Speak.ItemWebApi']" />
      </itemWebApiSearch>
    </pipelines>
  </sitecore>
</configuration>